<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cilicili.jz2.dao.VideoMapper">
  <resultMap id="videoResultMap" type="cilicili.jz2.domain.Video">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="url" column="url"/>
    <result property="uploadUserid" column="upload_userid"/>
    <result property="uploadTime" column="upload_time"/>
    <result property="countPlay" column="count_play"/>
    <result property="countLike" column="count_like"/>
    <result property="picUrl" column="pic_url"/>
    <result property="description" column="description"/>
    <result property="createDate" column="create_date"/>
    <result property="updateDate" column="update_date"/>
  </resultMap>

  <resultMap id="videoVoResultMap" type="cilicili.jz2.vo.VideoVO">
    <id column="id" property="id"/>
    <result column="title" property="title"/>
    <result column="url" property="url"/>
    <result property="uploadUserid" column="upload_userid"/>
    <result column="upload_time" property="uploadTime"/>
    <result column="count_play" property="countPlay"/>
    <result column="count_like" property="countLike"/>
    <result column="pic_url" property="picUrl"/>
    <result column="description" property="description"/>
    <result column="upload_username" property="uploadUsername"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, title, url, upload_userid, upload_time, count_play, count_like, pic_url, description, create_date, update_date
  </sql>

  <insert id="addVideo" parameterType="cilicili.jz2.domain.Video">
    insert into videos
    (id, title, url, upload_userid, upload_time, count_play, count_like, pic_url, description, create_date)
    values
    (#{id}, #{title}, #{url}, #{uploadUserid}, #{uploadTime}, #{countPlay}, #{countLike}, #{picUrl}, #{description}, #{createDate})
  </insert>

  <update id="updateVideo" parameterType="cilicili.jz2.vo.VideoVO">
    update videos
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="uploadUserid != null">
        upload_userid = #{uploadUserid},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime},
      </if>
      <if test="countPlay != null">
        count_play = #{countPlay},
      </if>
      <if test="countLike != null">
        count_like = #{countLike},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="findById" resultMap="videoVoResultMap">
    SELECT v.*, u.username upload_username FROM videos v
    INNER JOIN users u
    ON v.upload_userid = u.id
    WHERE v.id = #{id}
  </select>

  <select id="findByUrl" resultMap="videoVoResultMap">
    SELECT a.*, b.username upload_username
    FROM videos a
    LEFT JOIN users b
    ON a.upload_userid = b.id
    WHERE a.url = #{url}
  </select>

  <select id="findAllVideos" resultMap="videoVoResultMap">
    SELECT a.*, username upload_username
    FROM videos a
    LEFT JOIN users b
    ON a.upload_userid = b.id
    ORDER BY a.id DESC
  </select>

  <select id="queryVideo" resultMap="videoVoResultMap">
    SELECT a.*, b.username upload_username
    FROM videos a
    LEFT JOIN users b
    ON a.upload_userid = b.id
    WHERE a.title LIKE CONCAT('%', #{keyword}, '%')
    OR a.description LIKE CONCAT('%', #{keyword}, '%')
    OR b.username LIKE CONCAT('%', #{keyword}, '%')
    ORDER BY a.id DESC
  </select>

</mapper>