<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cilicili.jz2.dao.VideoMapper">
  <resultMap id="BaseResultMap" type="cilicili.jz2.domain.Video">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="url" column="url"/>
    <result property="uploadUserid" column="upload_userid"/>
    <result property="uploadTime" column="upload_time"/>
    <result property="countPlay" column="count_play"/>
    <result property="countLike" column="count_like"/>
    <result property="picUrl" column="pic_url"/>
    <result property="description" column="description"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, title, url, upload_userid, upload_time, count_play, count_like, pic_url, description
  </sql>

  <insert id="insertVideo" parameterType="cilicili.jz2.domain.Video">
    insert into videos
    (id, title, url, upload_userid, upload_time, count_play, count_like, pic_url, description)
    values
    (#{id}, #{title}, #{url}, #{uploadUserid}, #{uploadTime}, #{countPlay}, #{countLike}, #{picUrl}, #{description})
  </insert>

  <update id="updateVideo" parameterType="cilicili.jz2.domain.Video">
    update videos
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="uploadUserid != null">
        upload_userid = #{uploadUserid},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime},
      </if>
      <if test="countPlay != null">
        count_play = #{countPlay},
      </if>
      <if test="countLike != null">
        count_like = #{countLike},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>